:root {
  --font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 1px;
}
@media print {
  @page {
    size: 4.33in 6.29in; /* Set custom paper size */
    margin: 0; /* Optional: Remove default margin */
  }

  /* Optionally control margins or other styles during print */
  body {
    margin: 0; /* Remove any body margin */
  }

  /* Set the specific component to fit within the custom paper size */
  .print-container {
    width: 100%; /* Make sure the content fits the width of the paper */
    height: auto;
    padding: 10px; /* Add padding if necessary */
    box-sizing: border-box;
  }
}
@media print {
  .hide-print {
    display: none;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  transition: opacity 0.3s;
}

.overlay.active {
  display: block;
  opacity: 1;
}

.my-select-container .ant-select .ant-select-selector {
  /* border-color: #a0a0a0; */
  border-radius: 0px;
}

.my-select-container .ant-select-show-search {
  border-radius: 100px;
}

.lunas {
  color: green;
}

.bayar-setengah {
  color: #ff5e00;
}

.belum-bayar {
  color: red;
}

.row-warning {
  background-color: yellow;
}

.ant-select {
  border-radius: 0px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
.dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0;
}
.btn-primary,
.btn-outline-primary {
  background-color: #1524f5;
}
/* header */
/* .navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
} */
a.header-link,
.header-link > a {
  border: 1px rgb(33, 37, 41) solid;
  border-radius: 0px;
  color: white !important;
  /* font-weight: bold; */
}
a.header-link:hover,
.header-link > a:hover {
  color: white;
  border: 1px white solid;
}
.header .dropdown-menu,
.header .dropdown-item {
  color: black !important;
  background-color: white;
}
.header .dropdown-item a:hover {
  border: 1px rgb(33, 37, 41) solid;
}
.sub-header {
  background-color: #232f3e;
}
.cart-badge {
  position: absolute;
  color: #f08000;
  /* font-weight: bold; */
  margin-left: 16px;
  margin-top: -3px;
}

Sidebar .side-navbar-backdrop {
  position: relative; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: relative; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.side-navbar {
  width: 220px;
  height: 100%;
  position: absolute;
  left: -350px;
  background-color: #f5f5f5;
  transition: 0.5s;
  z-index: 2;
}

.active-nav {
  left: 0;
}

.side-navbar-user {
  background-color: #232f3e !important;
  color: white;
  /* font-weight: bold; */
}

button.side-navbar-user:hover {
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #f2f2f2;
}

.pagination-item:hover {
  background-color: rgb(0, 0, 0);
}

.active {
  font-weight: bold;
  color: rgb(235, 8, 8);
}

.search-container {
  margin-bottom: 10px;
}

footer {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;

  color: rgb(218, 197, 9);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 0px;
  max-width: 800px; /* Sesuaikan ukuran maksimal div di sini */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  border-radius: 0%;
}

.overlay-content {
  display: flex;
  flex-direction: column;
}

/* CSS for the top-left class */
.top-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.no-border-table {
  border-collapse: collapse;
}
/* Add this CSS to your existing stylesheet or style block */
.no-vertical-lines {
  border-collapse: collapse;
}

.no-vertical-lines th,
.no-vertical-lines td {
  border-left: none;
  border-right: none;
}

/* Optional: Add a border at the top and bottom to separate rows */
.no-vertical-lines tr {
  border-bottom: 1px solid #ddd;
}
/* Add this CSS to your existing stylesheet or style block */

/* Optional: Add a border at the top and bottom to separate rows */
.table tr {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0px;
}
.centered-column {
  text-align: center;
}

.circular-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  /* border-radius: 50%; */
  width: 500px;
  height: 500px;
  padding: 50px;
  border-radius: 0%;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0%;
}

.testos {
  padding-left: 1px;
  padding-top: 1px;
  padding-right: 1px;
  margin-bottom: 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
